/* container*/
.container {
    background-color: #bdcedd;
    
}

div.container {
    padding-top: 1rem;
    padding-bottom: 0.1rem;
}
 

h1{
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: #092946;
    font-style: oblique;
}
h1.about {
    padding-top: 1rem;
    padding-bottom: 2rem;
    color: #092946;
    font-style: oblique;
    text-align: center;

}

p {
    color: #4b4b4b;
    font-style: oblique;
    padding-bottom: 2rem;
}

/*h2*/
h2 {
    color: #2e2e2e;
    font-size: 23px;
    font-style:oblique;
}

h2.inbg {
    color: #2e2e2e;
    font-size: 23px;
    font-style:oblique;
    padding-top: 2rem;
}

/*h3*/
h3 {
    color: rgb(23, 80, 105);
    font-size: 25px;
    font-style: oblique;
    padding-bottom: 1rem;
}
h3.wtardrgs {
    color: rgb(23, 80, 105);
    font-size: 25px;
    font-style: oblique;
    padding-bottom: 2rem;
    padding-top:unset ;
}
h3.anbl {color: rgb(23, 80, 105);
    font-size: 25px;
    font-style: oblique;
    padding-bottom: 3rem;
}

/*h4*/
h4 {
    color:#ffffff;
    font-style: oblique;
    font-size: 21px;
    text-align: center;
}
h4.button-link {
    color:#001a33;
    font-style: oblique;
    font-size: 22px;
    text-align: center;
    padding-top: 4rem;
    padding-bottom: 1rem;
}

h4.drugs-bg {
    color:#ffffff;
    font-style: oblique;
    font-size: 38px;
    text-align: center;
    padding-top: 4rem;
    padding-bottom: 1rem;
    white-space: pre-wrap;
}

h4.effects {
    color:#ffffff;
    font-style: oblique;
    font-size: 21px;
    text-align: center;
    padding-bottom: 1.5rem;
}
h4.img {
    color:#ffffff;
    font-style: oblique;
    font-size: 21px;
    text-align: center;
    padding-top: unset;
    padding-bottom: 4rem;
}
h4.img1 {
    color:#ffffff;
    font-style: oblique;
    font-size: 21px;
    text-align: center;
    padding-top: 2.5rem;
    padding-bottom: 1rem;
}

label {
    color: rgb(23, 80, 105);
}

/* h5 */
h5 {
    color: #022f46 ;
    font-size: 23px;
    font-style: oblique;
   
}

h5.about {
    color:#022f46 ;
    font-size: 23px;
    font-style: oblique;
    text-align: center;
    text-decoration: rgb(234, 250, 91) underline ;
    padding: 2.5rem;
}

/* jumbotron*/
.jumbotron {
    margin-top: 3rem;
}

/*h6*/
h6 {
    color: #21374b;
    font-style: oblique;
    font-size: 19px;
    padding-bottom: 3rem;
}

h6.anabolic {
    color: #21374b;
    font-style: oblique;
    font-size: 19px;
    padding-bottom: unset;
}
h6.about {
    color: #21374b;
    font-style: oblique;
    font-size: 19px;
    padding-bottom: unset;
    text-align:left;

}
/* navbar*/

#navbar-text {
    color: #092946;
    font-style:oblique;

}

.navbar-brand {
    white-space: pre-wrap;
}

/* form-group*/
.form-group {
    color:#ffffff;
    font-style: oblique;
}

#carouselExampleIndicators {
    margin-top: 2rem;
    margin-bottom: 3rem;
}

 /* btn */
.btn {
 margin-bottom: 1rem;
}

.btn  {
    color: #aec8e0;
    font-style: oblique;
}

/* dropdown*/
.dropdown-menu {
    font-style: oblique;
}

.dropdown-item {
    white-space: pre-wrap; 
}


 /* card */
.card-title {
    color: #0d0d0e;
    font-style: oblique;
}
 .card-text {
     color: #022f46;
     font-style: oblique;
 }

 /* image*/

 .img{
   width: 100%;
   padding-bottom: 1.5rem;
   
 }

 .img-b{
     width: 55%;
     padding-bottom: 1.5rem;
 }

 .col-lg-4{
     padding-top: 1rem;
     padding-bottom: 1rem;
 }
 /* footer */
#footer .text-center {
    color: #022f46;
    background-color:#f8f9fa ;
    font-style: oblique;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

